@import "normalize";
@import "susy";

$space: 10px;

$susy: (
  columns: 12,
  gutters: 0,
  math: fluid,
  output: float,
  last-flow: to,
  gutter-position: inside,
  global-box-sizing: border-box,
);

$breakpoint-1: 320px - $space;
$breakpoint-2: 640px - $space;
$breakpoint-3: 1000px - $space;
$breakpoint-4: 1440px - $space;
$breakpoint-5: 1920px - $space;

$blue: #013a74;
$orange: #ff6c14;
$dark: #333333;
$light: #eeeeee;

$body-font: 'Open Sans', sans-serif;

body{
  background: $dark*0.7;
  color: white;
  font-size: 16px;
  overflow-x: hidden;
  font-family: $body-font;
  font-weight: 400;
  counter-reset: question;

  @media print{
    background: transparent;
    color: black;
    font-size: 10pt;
  }
}

*, h1, h2, h3, h4, h5, h6, div, p, span, section, article, a, input, select, form, textarea
{
  box-sizing: border-box;

  &::before, &::after{
    box-sizing: border-box;
  }
}

form{
  margin: 0;
}

h1{
  font-weight: 700;
  font-size: 36px;
  color: black;
  margin: 0;
}
