@import "global";

@page {
  size: legal;
  margin: 1cm 1cm;
}

#footer{
  @include container;
  text-align: center;
  padding: 0 $space*4 $space*2;
  font-style: italic;
  font-size: 14px;

  @media print{
  padding: 5mm 0 0 0;
    font-size: 8px;
    font-weight: 700;
  }
}
.main-area {
  @include container;
  //padding: $space;

  > div {
    @include span (1 of 1);
    padding: $space;

    @media print{
      padding: 0 0 10mm 0;
    }
  }

  > form {
    > div {
      @include span (1 of 1);
      padding:  0 $space*2 $space $space*2;
      border-top: 1px solid $dark*0.7;
      transition: background 0.1s linear;
      background: $dark;

      @media print{
        display: block;
        background: transparent;
        padding:  2mm 0;
        border-top: 0.5pt solid grey;
      }

      @include susy-media ($breakpoint-4){
      padding:  0 $space*4 $space $space*4;

        @media print{
          padding:  2mm 0;
        }
      }

      &:hover{
        background: $dark*0.9;
        transition: background 0.1s linear;

        @media print{
            background: transparent;
        }
      }

      &:nth-child(even){
          background: $dark*1.15;
          transition: background 0.1s linear;

          &:hover{
            background: $dark*0.9;
            transition: background 0.1s linear;

            @media print{
                background: transparent;
            }
          }

          @media print{
            background: transparent;
          }
      }
      .question-input{
        display: inline-block;
        margin-top: $space+2px;

        @media print{
          margin-top: 0;
          font-weight: 700;
        }

        .selected_option{

          @media print{
            font-weight: 400;
            display: block;
            margin: 2mm 0;
          }
        }

        &:before{
          counter-increment: question;
          content: counter(question) ": ";
          color: $dark*2;
          font-weight: 700;

          @media print{
            color: black;
          }
        }
      }

      input, select{
        max-width: 200px;
        margin-left: $space;
        appearance: none;
        display: inline-block;
        padding: $space $space*2;
        background: white;
        border: $dark*0.7 1px solid;
        border-radius: 4px;
        //color: white;
      }

      .score {
        margin-top: $space;
        display: block;
        float: right;
        font-size: 20px;
        color: white;
        font-weight: 300;

        @media print{
          margin-top: 0;
          font-size: 8pt;
          line-height: 1;
          color: black;
          font-weight: 700;
        }

        span {
          text-align: center;
          width: 42px;
          height:42px;
          display: inline-block;
          margin-left: $space*0.5;
          padding: 8px 0;
          border: 2px solid $orange;
          border-radius: 4px;

          @media print{
            width: 6mm;
            height: auto;
            margin-left: 1mm;
            border: 1pt solid $orange;
          }
        }
      }
    }

    .total, .header {
      border-top: 0;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 36px;
      background: $dark*0.7 !important;
      padding: $space*2;

      @media print{
        font-size: 20pt;
        font-weight: 300;
        background: transparent;
        padding: 2mm 0;
      }

      @include susy-media ($breakpoint-4){
      padding: $space*2 $space*4;
      }
      >div{
        @include span (1 of 1);
      }

      div{
        &:first-of-type{
          .score{
            span{
              border-bottom-left-radius: 0;
              border-bottom-right-radius: 0;

              @media print{
                border-bottom: 0;
                margin-bottom: 0;
              }
            }
          }
        }

        &:last-of-type{
          .score{
            span{
              border-top-left-radius: 0;
              border-top-right-radius: 0;

              @media print{
                border-top: 0;
                margin-top: 0;
                margin-top: -6px;
              }
            }
          }
        }
      }

      >span{
        margin-top: 6px;

        @media print{
          margin-top: 0;
        }
      }

      .score {
        margin-top: 0;
        span {
          background: $orange;
        }
      }
    }

    .header{
      position: fixed;
      top:0;
      left: 0;

      @media print{
        position: relative;
      }
    }

    .branding{
      border-top: 0;
      height: 80px;
      //display: none;

      @media print{
        height: auto;
        padding-bottom: 5mm;
        //display: block;
      }
      .contact{
        float: right;

        span{
          font-weight: 700;
          display: block;
          text-align: right;
        }
      }
    }
  }
}

.svg-logo {
  position: relative;
  float: left;
  padding-top: 4px;
  //padding-bottom: 8px;
  span {
    position: relative;
    display: block;
    height: 41px;
    width: 210px;

     > img,
    > object {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
  @include susy-media ($breakpoint-2) {
    //padding-top: 16px;
    //padding-bottom: 0;
    span {
      height: 48px;
      width: 241px;
    }
  }

  path {
    fill: white;
  }
}

.print-buttons{
  padding: $space $space*2;
  text-align: center;

    @media print{
      display: none;
    }

    input{
      margin: 0 $space;
      border: none;
      appearance: none;
      border-radius: 4px;
      background: $orange;
      color: white;
      padding: $space $space*2;
      text-transform: uppercase;
      font-weight: 700;
    }

    @include susy-media ($breakpoint-3){
      padding: $space $space*4;

      input{
      padding: $space*2 $space*4;
      }
    }
}
