html {
  padding: 0px;
  margin: 0px;
  background: #e56868;
}

body {
  background: #f2f2f2;
  color: #252525;
  margin: 0px 15% 0px 15%;
  padding: 3% 5%;
  font-family: "Helvetica Neue", Helvetica, malgun gothic, Ubuntu, Arial, sans-serif;
  font-size: 20px;
  height: auto;
}
